{{!
    @template core/signup_form_layout

    Example context (json):
    {
        "logourl": "https://moodle.org/logo/moodle-logo.svg",
        "sitename": "Site name",
        "formhtml": "<p>(Form html would go here)</p>"
    }
}}
<div class="login-wrapper">
    <div class="login-container">
        {{#logourl}}
        <div class="login-logo">
            <img src="{{logourl}}" class="img-fluid" alt="{{sitename}}"/>
        </div>
        {{/logourl}}
        <h1 class="login-heading">{{sitename}} {{#str}} newaccount {{/str}}</h1>
        {{{formhtml}}}
    </div>
</div>
