{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_componentlibrary/activity-add

    Displays a course module instance inside a course section.

    Example context (json):
    {
    }
}}
<div class="activity-add d-flex align-items-center px-3 py-2 mb-3">
    <div class="pluscontainer icon-no-margin icon-size-3 d-flex p-2 mr-2">
        {{#pix}} t/add, core {{/pix}}
    </div>
    {{#str}}addresourceoractivity, core{{/str}}
</div>
