.pagelayout-login #region-main {
    border: 0;
    background-color: inherit;
}

.pagelayout-login #page {
    background: $loginbackground-gradient-from;
    @include gradient-x($loginbackground-gradient-from, $loginbackground-gradient-to, 0%, 100%);
    div[role="main"] {
        height: 100%;
    }
}

.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-container {
    background-color: $logincontainer-bg;
    padding: $logincontainer-padding;
    box-shadow: $box-shadow;
    .login-languagemenu {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;
    }
    .login-logo {
        display: flex;
        justify-content: center;
    }
    .login-divider {
        margin-top: $logindivider-margin-top;
        margin-bottom: $logindivider-margin-bottom;
        border-top: $border-width solid $logindivider-border;
    }

    h1.login-heading {
        font-size: $h4-font-size;
    }

    h2.login-heading {
        font-size: $h4-font-size;
    }
    .login-identityproviders {
        .login-identityprovider-btn {
            border: $border-width solid $login-identity-provider-btn-border;
        }
    }
}

@include media-breakpoint-up(md) {
    .login-container {
        max-width: 500px;
    }
}
