.secondary-navigation {
    max-width: $course-content-maxwidth;
    margin: 0 auto;
    border-top: 1px solid $gray-300;
    border-bottom: 1px solid $gray-300;
    .navigation {
        border-color: $gray-300;
        height: $moremenu-height;
        padding-bottom: map-get($spacers, 3);
    }
}
